<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-9">
        <a href="/dashboardadmin">
          <img
            src="images/logo-7.png"
            alt="logo"
            width="150px"
            height="80px"
            class="logo"
          /></a>
      </div>
      <div class="col-3 logout-link">
        <a href="#">
          <i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Welcome Patricia</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/dashboardadmin"
            >Dashboard Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/createproduct">Product Creation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/productindatabase">Product in Database</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

</header>