<div class="card text-center">
    <img class="card-img-top" src="../images/product_listing/1.jpg" alt="product">
    <div class="card-body">
        <h5 class="card-title">Product Title</h5>
        <p class="card-text">short product description</p>
        <p class="card-text product-price">$10.99</p>
        <a href="/products/1" class="btn btn-primary">View</a>
    </div>
</div>