{{#if allProducts}}
	<div class="row all-products-wrap">
		{{#each allProducts}}
		<div class="col-md-4">
			{{>productListingItem product=this}}
		</div>
		{{/each}}
	</div>
	<nav class="d-flex justify-content-center">
		<ul class="pagination">
			<li class="page-item"><a class="page-link" href="#">Previous</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">Next</a></li>
		</ul>
	</nav>
{{else}}
	<div class="row all-products-wrap text-center">
		<div class="col-12">No Products to display</div>
	</div>
{{/if}}