<div class="card text-center">
    <img class="card-img-top" src="../images/product_listing/1.jpg" alt="product">
    <div class="card-body">
        <h5 class="card-title">{{this.prodName}}</h5>
        <p class="card-text">{{this.prodDesc}}</p>
        <p class="card-text product-price">{{this.price}}</p>
        <a href="/products/{{this.id}}" class="btn btn-primary">View</a>
    </div>
</div>