{{#if allProductsResp.products}}
	<div class="row all-products-wrap">
		{{#each allProductsResp.products}}
		<div class="col-md-4">
			{{>productListingItem product=this}}
		</div>
		{{/each}}
	</div>
	<nav class="d-flex justify-content-center">
		<ul class="pagination">
			{{#notEqual 1 allProductsResp.currentPage}}
			<li class="page-item">
				<a class="page-link" href="/products?page={{#sum allProductsResp.currentPage -1}}{{/sum}}">
					Previous
				</a>
			</li>
			{{/notEqual}}

			{{#for 1 allProductsResp.totalPages 1}}
			<li class="page-item" >
				<a class="page-link" href="/products?page={{this}}">
					{{this}}
				</a>
			</li>
			{{/for}}

			{{#notEqual allProductsResp.totalPages allProductsResp.currentPage}}
			<li class="page-item">
				<a class="page-link" href="/products?page={{#sum allProductsResp.currentPage 1}}{{/sum}}">
					Next
				</a>
			</li>
			{{/notEqual}}
		</ul>
	</nav>
{{else}}
	<div class="row all-products-wrap text-center">
		<div class="col-12">No Products to display</div>
	</div>
{{/if}}