<div class="container">
    <h4 class="display-4 mt-5">Related Products</h4>

    <div class="row">
        <div class="col-6 col-md-4">
            {{>productListingItem}}
        </div>
        <div class="col-6 col-md-4">
            {{>productListingItem}}
        </div>
        <div class="col-6 col-md-4">
            {{>productListingItem}}
        </div>
    </div>
</div>