<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-9">
        <a href="/dashboarduser">
          <img
            src="images/logo-7.png"
            alt="logo"
            width="150px"
            height="80px"
            class="logo"
          /></a>
      </div>
      
      <div class="col-3 cart-link">
        <a href="#">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart</a>
      </div>
      <div class="col-3 log-out-link">
        <a href="#">
          <i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Welcome Patricia</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="/dashboarduser"
            >Dashboard User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
          
         <li>
            <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
           <li>
            <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My account
         </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/profile">My profile</a></li>
            <li><a class="dropdown-item" href="/orders">My orders</a></li>
          </ul>
    
      </ul>
      </div>
    </div>
  </nav>

</header>