<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Tea Online</title>
    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>
    <div class="container">
      
    {{>header}}
    <div class="contentContainer">
        <h2>HOME</h2>
    </div>
    {{>footer}}
    </div>
  </body>
</html>