<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Search Results</title>
		{{!-- all meta tags and common link tags --}}
		{{>headMetaTags}}
	</head>
	<body>
		{{!-- header --}}
		{{>header}}

		{{!-- div between header and footer--}}
		<div id="mid-wrap">
			{{!-- all your content goes here --}}
            <div class="container">
				<h4 class="display-4 text-center">Search Results for 'Product Title'</h4>

				{{>productListings}} 
            </div>

		</div>

		{{!-- footer --}}
		{{>footer}}

		{{!-- scripts --}}
		{{>footerScripts}}
	</body>
</html>