<html lang="en">

<head>
  {{>headMetaTags}}
  <link rel="stylesheet" href="./css/authenticatedUser.css" />
  <title>Product Update</title>
</head>

<body>
  {{>admin-header}}
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form class="format-form">
          <fieldset>
            <legend>Product Update</legend>
            <div class="form-group">

              <div class="mb-3 row">
                <label for="product-id" class="col-sm-3 col-form-label">Product Id</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" placeholder="Product Id" id="product-id"
                    aria-label="product-id" aria-describedby="basic-addon1" name="product-id" value="1" readonly />
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="mb-3 row">
                <label for="product-name" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="product-name" placeholder="Product name"
                    name="product-name" required value="Signature, Breakfast Ground Coffee" />
                </div>
              </div>

            </div>

            <div class="form-group">
              <div class="mb-3 row">
                <label for="description" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9">
                  <textarea class="form-control" id="description" rows="3" placeholder="Product description"
                    name="description"
                    required>Freshly roasted coffee, ground to suit a variety of brewing gadgets including cafetières, filter coffee machines and drip coffee brew methods.</textarea>
                </div>
              </div>

            </div>

            <div class="form-group">
              <div class="mb-3 row">
                <label for="unit_price" class="col-sm-3 col-form-label">Unit Price</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="unit_price" placeholder="Product price" name="unit_price"
                    required value="18.99" />
                </div>
              </div>

            </div>

            <div class="form-group">
              <div class="mb-3 row">
                <label for="quantity" class="col-sm-3 col-form-label">Quantity</label>
                <div class="col-sm-9">
                  <input type="number" min="0" class="form-control" id="quantity" name="quantity"
                    placeholder="Product quantity" required value="25" />
                </div>
              </div>

            </div>

            <div class="form-group">
              <div class="mb-3 row">
                <label for="category" class="col-sm-3 col-form-label">Category</label>
                <div class="col-sm-9">
                  <select class="form-select" aria-label="Product category" id="category" name="category" required>

                    <option value="1">Green Tea</option>
                    <option value="2">Black Tea</option>
                    <option value="3">Herbal Tea</option>
                    <option value="4">Instant Coffee</option>
                    <option value="5" selected>Ground Coffee</option>
                  </select>
                </div>
              </div>

            </div>

            <div class="form-group">
              <div class="mb-3 row">
                <label for="discount" class="col-sm-3 col-form-label">Discount</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="discount" name="discount"
                    placeholder="Discount percentage" value="0.1" />
                </div>
              </div>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" checked id="bestseller" />
              <label class="form-check-label" for="bestseller">
                Bestseller
              </label>
            </div>

            <br />
            <div class="form-group">
              <div class="mb-3 row">
                <label for="image" class="col-sm-3 col-form-label">Image</label>
                <div class="col-sm-9">
                  <img src="images/Picture1.jpg" alt="product image" width="150px" height="130px" required/>
                </div>
                <input class="form-control-file" type="file" id="image" />

              </div>
            </div>

            <br />
            <div class="form-group btn-form">
              <button type="reset" class="btn btn-primary in-forms">CLEAR</button>
              <button type="submit" class="btn btn-primary in-forms">UPDATE</button>

            </div>
            <br />
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <br />
  {{!-- footer --}}
  {{>footer}}

  {{!-- scripts --}}
  {{>footerScripts}}
</body>

</html>